<div class="site-section" id="what-section">
  <div class="container">
    <div class="row mb-2 justify-content-center text-center" data-aos="fade-up">
      <div class="col-7 text-center mb-2">
        <h2 class="section-title">Conclusion</h2>

        <p class="lead">
          After this long analysis of who you should be, what you should talk about, and how you should talk about it, what have 
          we learned?
        </p>
      </div>
    </div>
    <div class="row mb-2 site-section">
      <p class="mb-4 lead">
        Throughout our datastory, we took a deep dive into speakers attributes and learned key insights about the loudest individuals:

        <ul class="mb-1" style="font-size:1.1em">
            <li>
                Males' speeches are predominant. However, if you are a female speaker willing to make your voice heard, you probably want to be as young as possible.
            </li>
            <li>
                Newspaper love to transmit politicians', athletes' and actors' thoughts, especially if they are talking about art, politics, sport or even economy!
            </li>
            <li>
                Emotion in your speech is key! And making the appropriate choice according to what you want to talk about is an art...
               If you had to remember just one thing: never talk about politics or sports with joy, the media are not interested in that.
            </li>
        </ul>
        </p>
        <p class="mb-4 lead">
            Have you understood what it takes to be quoted? (Re)-take your chance on our beautiful game and see how loud you are.
        </p>
        <div class="mb-4 lead" style="width:100%; text-align:center">
            <a href="https://quotebankers.netlify.app/" target="_blank" class="btn btn-primary mr-2 mb-2">Test yourself!</a>
          </div>
      </p>

    </div>
    
  </div>
</div>
