<div class="site-section" id="how-section">
  <div class="container">
    <div class="row mb-5 justify-content-center text-center" data-aos="fade-up">
      <div class="col-7 text-center mb-5">
        <h2 class="section-title">How you need to say it</h2>
        <p class="lead">
          Now than you know how you you need to and what you need to talk about, wouldn't it be nice if we also reveal how you need to say it ?  
        </p>
      </div>
    </div>
    <!-- 4) Age & occupation -->
    <div class="row mb-5 site-section">
      <!-- Block of text to the right -->
      <h2 class="text-black">Topics... and their emotions</h2>

      <p class="mb-4 lead">
        To choose the perfect subject is not enough to be quoted. And always having the same tone either. As we'll see in the next visualization, there is an interaction 
        between the subject and the emotion of the quotes that are existing in the QuoteBank dataset
      </p>

      <!-- Plots to the left -->
      <div class="col-lg-12" data-aos="fade-right">
        <script>
          $(function () {
            $("#placeholder").load("assets\\images\\emotions_vs_topic.html");
          });
        </script>
      <div id="placeholder"></div>
      </div>
      <!-- END -->
      <h5 class = "text-black">Politics, which emotion to convince ? </h5>
      <p class = "mb-4 lead">
        Politics is the topic for which emotions are the most balanced, compared to the other considered topics. The most used emotion in politics quotes
        is sadness. However the neutral tone is also frequetly used. Only joy seems not to be part of the politican arsenal to be quoted. That can be explained by several reasons: 
        first, according to Ivan Garibay in a paper published in May 2021, controversial informations spreads faster than non-controversial informations. And those informations 
        mainly rely on negative informations, which may explain why joy is <b>the less quoted</b> emotion for this topic.
        Also, the <i>politics</i> topic will also include more informative quotes which will likely end up in the more tamed emotions categories such as <i>calm</i>, <i>sad</i> or <i>neutral</i>.
        Therefore, if you want to talk about politics, do it softly, and don't be too joyful ! 
      </p>
      <h5 class = "text-black">No one likes to lose. </h5>
      <p class = "mb-4 lead">
        Like politics, sports-related quotes use mainly the <i>neutral emotions</i> and <i>sadness</i>. The neutral tone may be explained by the fact that a lot of the quotes in dataset related to sport
        are about scores of specific matches, which by nature are objective and neutral. A interesting thought to note is that the joy emotion is even <b>less used</b> in sports than in politics and is <b>four times</b>
        less used than anger. From this may assume that the person that is quoted about sports will likely have lost instead of won. Losers seem to be more quoted than winners... 
        Moral of the story so far, being happy does not get you quoted.
      </p>
      <h5 class="text-black">Hello sadness my old friend...</h2>
      <p class="mb-4 lead">
        As an artist, or someone who is refined enough to talk about <i>Arts</i> with a capital <b>A</b>, mastering emotion is key. And it seems that the quotations about this subject 
        are on a brighter side than for <i>politics</i> or <i>sports</i>. Indeed even though sadness is still the most quoted emotion for this topic, <i>calm</i> and especially <i>joyful</i> quotes are found at a higher rate. 
      </p>
      <h5 class = "text-black">Have you seen the economy ?!</h5>
      <p class = "mb-4">
        Contrary to the three other topics studied, <i>economy</i> has the <b> highest rate</b> of fear-classified quotes. This can be rooted in the fact that economy-related quotes can adress sujcets like mass dissmissal or bankrupcy 
        which will be treated with a fearful emotion. This 


      </p>




    </div>
  </div>
</div>
