<div class="site-section" id="what-section">
  <div class="container">
    <div class="row mb-5 justify-content-center text-center" data-aos="fade-up">
      <div class="col-7 text-center mb-5">
        <h2 class="section-title">What you need to talk about</h2>

        <p class="lead">
          From art to politics, what do you need to talk about to be quoted in all the most famous newspapers!
        </p>
      </div>
    </div>
    <div class="row mb-5 site-section">
    <h2 class="text-black">Topics in the clusters</h2>
      <p class="mb-4 lead">
        Using a topic classification method, we determined the most probable topic 
        for each quote. Overall, the three most talked about subjects are sport, art, and economy & finance.
        As the QuoteBank dataset was formed by collecting quotes from newspapers, this repartition of topics is nothing but expected.
        Indeed, sports and culture specialized newspapers are far more known by the general public than scientific publications journal for example.
        However, pure political subjects are not as predominant as one could have thought. To be able to analyze further how each group of people choose their subject to be quoted, 
        let us dig a level below and take interest in the clustering results.
      </p>

      <div class="col-lg-12" data-aos="fade-up">
        <script>
          $(function () {
            $("#top-topics").load("assets\\images\\top-topics.html");
          });
        </script>
        <div id="top-topics"></div>

      </div>
    </div>
    <h5 class= "text-black"> Cluster A, politicians that don't talk about politics? </h4>
    <p class = "mb-4 lead">
      As seen in the overall analysis, and contrary to what could have been common sense, 
      politics is <b>not</b> the most talked about subject of the politicians' cluster! 
      One specific reason may be explaining this oddity in our results. We can assume that 
      the model  has classified in the "Politics" topic only quotes
      that are centered on purely political subjects such as elections or nomination of a member of government.
      Therefore all the subjects about the impacts of politics on the economy or in healthcare for example will 
      be classified in their respective category. Hence, it is not surprising to notice that,
      apart from the <sub><i>elephant in room</i></sub> art topic, the three main subjects are economy, finance,
      and of course politics...

      <br/>
      Now let's talk about the aforementioned <i>elephant in the room</i>, the <b>Art</b> topic.
      Who could have expected that politicians are mainly interested in art? Well..., they may be not. 
      Indeed, let's not forget that cluster A is also populated by writers, singers, and actors, which are all deeply art-oriented 
      occupations.
    </p>
    <h5 class = "text-black">Cluster B, artists and their things...</h5>
    <p class = "mb-4 lead">
      Now that we have had a better understanding of the first cluster, let's analyze the second one.
      Like cluster A, cluster B is also populated by actors writers, singers, and politicians, but this cluster has a younger age overall
      and also is much less quoted. 
      Cluster B also contains much more <i>artists</i> than cluster A. All of these reasons may explain why, in this group, 
      more than <b>50%</b> of the quotes are classified as art. All the other topics results are tight together, around 7% for health, science and politics, and 15% for sports, economy and finance.
    </p>
    <h5 class = "text-black">Cluster C, everything for the sport! </h5>
    <p class = "mb-5 lead">
      Cluster C is made of young, fiery sportsmen and sportswomen. And as we can see on the topic 
      classification results for this cluster, the big bulk of the quotes ( just above <b>50%</b>) 
      is about... Sports! 
      In terms of sheer numbers, that makes it up to <b>21 million</b> quotes about sport, 
      which is much higher than for the two other clusters.
      However, a non-negligible portion of the quotes was classified in <i>Art</i> and <i>Politics</i>. That may be explained
      that even if they are sportsperson, everyone is prone to talk about those subjects.
      Finally, we see that the <i>Economy & Finance</i> topic is one of the less quoted subjects for cluster C. 
      This is surely because it is very unlikely that a sportsperson will be asked a question about those two subjects during an interview
      or even talk about this subject in a relevant manner on the fly. The same thing could be said for health, but the fact that sport is highly related to health, in general, 
      may explain the small difference in percentage.
    </p>

    
  </div>
</div>
