<div class="site-section" id="who-section">
  <div class="container">
    <div class="row mb-5" data-aos="">
      <div class="text-left mb-3">
        <div
          class="row mb-5 justify-content-center text-center"
          data-aos="fade-up"
        >
          <div class="col-7 text-center mb-5">
            <h2 class="section-title">Who you need to be</h2>
            <p class="lead">Cricket player, actor, man, women, young, old... So many possibilites, but do everyone have the same chance to be quoted?  </p>
          </div>
        </div>

        <p class="mb-4 lead wordcloud-speakers-image-container">
          <b>Isn't it a pleasure to be listened to?</b> The ability to make your
          voice heard is a privilege that few have. Sometimes you can have
          the feeling that only the loudest are listened to. We have analyzed
          the <a href="#quotebank">Quotebank</a> dataset from 2015 to 2020, and from it we
          extracted information about the speakers from <a href="#wikidata">Wikidata</a>, 
          let us see who are the most quoted speakers:
        </p>

        <figure data-aos="fade-up">
          <img
            src="assets\images\wordcloud-speakers-blue.png"
            alt="Image"
            class="wordcloud-speakers-image"
          />
          <figcaption
            class="wordcloud-speakers-image-caption"
            style="margin-bottom: 20px"
          >
            Most frequent speakers in the Quotebank dataset
          </figcaption>
        </figure>
        <p class="mb-4 lead">
          From this picture we can see that we have a wide mixture of speakers.
          Unsurprisingly, the biggest names in the picture and the most quoted
          speakers are American politicians and other world leaders, but we can
          also see a lot of sports personalities, bussiness leaders, artists and
          influencers. Let us now take a deeper dive into the data...
        </p>
      </div>
    </div>

    <!-- 1) Persons (x-azis) vs n_quotes (y-axis) -->
    <div class="row mb-5 site-section">
      <div class="text-center mb-5">
        <h2 class="text-black">1. Imbalance in number of quotations</h2>
      </div>

      <!-- Plots to the right -->
      <div class="col-lg-12" data-aos="fade-up">
        <html>
          <head>
            <script src="assets\js\jquery-3.3.1.min.js"></script>
            <script>
              $(function () {
                $("#quotations_per_speaker").load(
                  "assets\\images\\quotations_per_speaker.html"
                );
              });
            </script>
          </head>
        </html>
        <body>
          <div id="quotations_per_speaker"></div>
        </body>
      </div>
      <p class="mb-4 lead wordcloud-speakers-image-container">
        As seen from the graph (log-scaled in the y-axis),
        <b>most quotes are made by a few people</b>, and
        <b>most people have made a few quotes</b>. In this dataset,
        <b>20% of the most quoted speakers have made 89% of the quotes</b>! The
        distribution of the number of quotes per speaker is a power law, and
        interestingly also follows the
        <a href="https://en.wikipedia.org/wiki/Pareto_principle">80/20 rule</a>,
        also known as the Pareto principle.
        <br />
        The Pareto principle was observed by the Italian economist Vilfredo
        Pareto, whom while at the University of Lausanne (!), showed that 80% of
        the land in Italy was owned by 20% of the population. This distribution
        has further been seen in other areas such as ~80% of wealth is owned by
        20% of the population, ~80% of all end users generally use only 20% of a
        software application's features, and ~80% of health care resources are
        spent on 20 % of the patients. Now we find that 89% of quotes are made
        by 20% of quoted speakers. Note however that the pareto principle is not 
        a law like most other principles, but merely an observation of a phenomenon.
        <br />
        &emsp;To answer the question <em>who has a voice in the media?</em>, we
        want to focus on people that are quoted regularly. A person that has
        only been quoted once does not really have "a voice in the media", and
        therefore going forward in our analysis, we will only consider speakers
        that have made more than 5 quotes.
      </p>
    </div>
    <!-- END -->

    <!-- 2) Gender visualization -->
    <div class="row mb-5 site-section">
      <!-- Block of text to the left -->
      <div class="col-lg-5 pl-lg-5 ml-auto mt-md-5">
        <h2 class="text-black">2. Male-dominated quotations</h2>
        <p class="mb-4">
          When we break down the speakers by gender, we can see that males stand
          for ~77% of all quotations, females for ~22% and other genders for a
          little over 1%. Even though the data presented has been combined over
          the years 2015-2020, we have not observed significant changes in the
          distribution of genders over these years.
        </p>
      </div>
      <!-- Plots to the right -->
      <div class="col-lg-7" data-aos="fade-left" style="text-align: center">
        <img
          src="/assets/images/infogender_colors.svg"
          alt="Image"
          class="img-fluid"
          style="width: 60%"
        />
      </div>
    </div>
    <!-- END -->

    <!-- 3) Occupations for all, for men, and for women (merge Eliott's plots into one)  -->
    <div class="row mb-5 site-section">
      <!-- Plot to the left -->
      <div class="col-lg-7" data-aos="fade-right">
        <html>
          <head>
            <script src="assets\js\jquery-3.3.1.min.js"></script>
            <script>
              $(function () {
                $("#top10_occupations_males_and_females").load(
                  "assets\\images\\top10_occupations_males_and_females.html"
                );
              });
            </script>
          </head>
        </html>
        <body>
          <div id="top10_occupations_males_and_females"></div>
        </body>
      </div>
      <!-- Text to the right -->
      <div class="col-lg-5 pl-lg-5 ml-auto mt-md-5">
        <h2 class="text-black">3. Occupation distribution</h2>
        <p class="mb-4">
          Here we break down the speakers by gender and occupation. We can see
          that the overall most common occupation is politician, but when we
          break it down by gender we find that politician is actually not the
          most common occupation in any of the genders. We instead find that
          males lean towards sports, while women lean towards creative
          occupations such as actor, singer and writer. In order to reduce the
          complexity of the data and to more easily compare the occupations we
          decide on a fixed set of relevant occupation groups: politician,
          athlete, actor, lawyer, researcher, journalist, musician, and
          businessperson. We then use the lexical database <a href="#wordnet">Wordnet</a>
          to calculate similarities between each occupation and each occupation
          group and the add the occupation group as a new feature in the dataset.
        </p>
      </div>
    </div>
    <!-- END -->

    <!-- 4) Age & occupation -->
    <div class="row mb-5 site-section">
      <!-- Block of text to the left -->
      <div class="col-lg-12 pl-lg-5 ml-auto mt-md-5">
        <h2 class="text-black">4. Age and occupation group</h2>

        <div class="col-lg-12" data-aos="fade-up">
          <html>
            <head>
              <script src="assets\js\jquery-3.3.1.min.js"></script>
              <script>
                $(function () {
                  $("#age_distribution").load(
                    "assets\\images\\age_distribution.html"
                  );
                });
              </script>
            </head>
          </html>
          <body>
            <div id="age_distribution"></div>
          </body>
        </div>
        <p class="mb-4 lead">
          Now, let's take a deeper dive into speakers' occupations. For the sake of conciseness, 
          we consider the following three main occupation subgroups:
        </p>
        </p>
          <ul class="mb-4 lead">
            <li>Politicians</li>
            <li>Athletes, among which we count Association/American football players, basketball player, ice hockey player, cricketer and all kinds of athletic competitors.</li>
            <li>Artists, consisting of actors, singers, musicians, painters, etc..</li>
          </ul>
          <p class="mb-4 lead">
          The analysis leads to the following insights:
          </p>
          </p>
          <ol class="mb-4 lead">
            <li>Male politician speakers are, in average, older than their female counterparts (65.1 vs 61.2 y.o.) . A one sided t-test supports this observation with confidence level of 0.99.</li>
            <li>As expected, athlete speakers are among the youngest in the dataset. Interestingly, older male athletes also have a voice in the media. 
              Indeed, former athletes that became famous sports figures are often males due to the important imbalance in sports coverage across genders in the past <a href="https://en.unesco.org/themes/gender-equality-sports-media">link</a>.</li>
            <li>Finally, the subgroup of artists is no exception to the rule: male speakers are again significantly older.</li>
          </ol>
          <p class="mb-4 lead">
            NB: the density peaks at 21 y.o. for both genders come from imprecise date of birth information provided by Wikidata.
            <br>

            To sum it up: especially for sport and art-related occupations, a female speaker has much better chanses at being quoted while being young, 
            while men have an easier time getting quoted even when they become older.  
          </p>
      </div>
      <!-- Plots to the right -->
      
    </div>
    <!-- END -->

    <!-- 5) Clustering -->
    <div class="row mb-3 site-section">
      <!-- Plots to the left -->
      <div class="text-center mb-3">
        <h2 class="text-black">5. Clustering</h2>
      </div>
      <p class="mb-4 lead">
          As we have seen in the plots before, the different variables can be combined in many ways if we want 
          to understand the data. On the other hand, manually finding the relevant combination of features is 
          complex to find, thus we wanted rather to do this in an unsupervised manner to let the data talk by itself!
          <br>
          With that in mind, we performed clustering with K-means with the following variables: gender, age, number of quotes,
          and occupation. With the elbow method, we decided that 3 was the best amount of clusters to divide the speakers in. 
          Let us see the distributions of the <b>occupations and ages</b> of the found clusters!
      </p>
    </div>

    <div class="row mb-3 site-section">

        <div class="col-lg-6" data-aos="">
        <html>
            <head>
            <script src="asrsets\js\jquery-3.3.1.min.js"></script>
            <script>
                $(function () {
                $("#cluster_occupations").load(
                    "assets\\images\\cluster_occupations.html"
                );
                });
            </script>
            </head>
        </html>
        <body>
            <div id="cluster_occupations"></div>
        </body>
        </div>

        <div class="col-lg-6" data-aos="">
        <html>
            <head>
            <script src="assets\js\jquery-3.3.1.min.js"></script>
            <script>
                $(function () {
                $("#cluster_ages").load("assets\\images\\cluster_ages.html");
                });
            </script>
            </head>
        </html>
        <body>
            <div id="cluster_ages"></div>
        </body>
        </div>
    </div>  

    <div class="row mb-5 site-section">
    <!-- The summary part of the 3 clusters -->
      <div class="row align-items-stretch">
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
          <div class="unit-4 d-block">
            <div class="unit-4-icon mb-3">
              <span class="icon-wrap"
                ><span class="text-primary icon-bank"></span
              ></span>
            </div>
            <div>
              <h3>Cluster A</h3>
              <p>
                Cluster A is primarily composed of <b>politicians</b>, even though huge proportion of it is made of<b> art-related jobs</b>, such as actor or singer. Counting more quotes than the other two clusters combined, it is also the <b>oldest</b> cluster with over 50% of it being over 60 years old. Indeed, known politicians are usually on the older side of the force...
              </p>
            </div>
          </div>
        </div>
        <div
          class="col-md-6 col-lg-4 mb-4 mb-lg-4"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <div class="unit-4 d-block">
            <div class="unit-4-icon mb-3">
              <span class="icon-wrap"
                ><span class="text-primary icon-brush"></span
              ></span>
            </div>
            <div>
              <h3>Cluster B</h3>
              <p>
                Cluster B is composed similarly to cluster A, except that the most found occupation is <b>actor</b> instead of politician. It has <b>less than half</b> the numbers of quotes of cluster A, which may be explained by the fact this cluster is much more <b>balanced</b> in term of age. 
              </p>
            </div>
          </div>
        </div>
        <div
          class="col-md-6 col-lg-4 mb-4 mb-lg-4"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="unit-4 d-block">
            <div class="unit-4-icon mb-3">
              <span class="icon-wrap"
                ><span class="text-primary icon-dribbble"></span
              ></span>
            </div>
            <div>
              <h3>Cluster C</h3>
              <p>
                Cluster C could be renamed 50 shades of <b>sports</b>. Indeed, the majority of the cluster is composed by sport-related occupations, unlike the first two clusters. Also, it is the <b>youngest</b> group, which is in accordance with occupations in it. Indeed, athletes tend to be younger than politicians.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
